@use 'styles/variables' as variables;
@use 'styles/mixin/media' as media;

.wrapper {
  form {
    display: flex;
    flex-direction: column;
  }

  .remember_forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: variables.$light-100;
      transition: color variables.$transition;

      &:hover {
        color: darken(variables.$light-100, 15%);
      }
    }
  }

  .remember_forgot a {
    user-select: none;
  }

  @include media.for-mobile {
    form {
      margin-top: variables.rem(20px);

      label + label {
        margin-top: variables.rem(30px);
      }
    }

    .remember_forgot {
      gap: variables.rem(15px);
      margin-top: variables.rem(40px);
    }

    .remember_forgot a {
      font-size: variables.rem(14px);
      line-height: variables.rem(16px);
    }
  }

  @include media.for-tablet {
    form {
      margin-top: variables.rem(26px);

      label + label {
        margin-top: variables.rem(36px);
      }
    }

    .remember_forgot {
      gap: variables.rem(18px);
      margin-top: variables.rem(50px);
    }

    .remember_forgot a {
      font-size: variables.rem(16px);
      line-height: variables.rem(19px);
    }
  }

  @include media.for-laptop {
    form {
      margin-top: variables.rem(30px);

      label + label {
        margin-top: variables.rem(40px);
      }
    }

    .remember_forgot {
      gap: variables.rem(20px);
      margin-top: variables.rem(60px);
    }

    .remember_forgot a {
      font-size: variables.rem(17px);
      line-height: variables.rem(20px);
    }
  }

  @include media.for-desktop {
    form {
      margin-top: variables.rem(34px);

      label + label {
        margin-top: variables.rem(44px);
      }
    }

    .remember_forgot {
      gap: variables.rem(20px);
      margin-top: variables.rem(66px);
    }

    .remember_forgot a {
      font-size: variables.rem(18px);
      line-height: variables.rem(21px);
    }
  }
}
