@use 'styles/variables' as variables;
@use 'styles/mixin/media' as media;
@use 'styles/mixin/fonts' as fonts;

.wrapper {
  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 39px;

    &_panel {
      width: 100%;
    }
  }

  @include media.for-mobile {
    &__tabs {
      flex-direction: row;
      gap: variables.rem(20px);
    }
  }
}

.steps {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .step {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;

    letter-spacing: variables.rem(-0.24px);
    @include fonts.Manrope(700);

    border-radius: 100%;
    border: variables.rem(2px) solid variables.$primary;
    background-color: variables.$dark-50;

    user-select: none;

    cursor: pointer;
    transition: color variables.$transition,
      background-color variables.$transition, border-color variables.$transition;

    &:hover:not([disabled]),
    &.completed:not([disabled]),
    &[data-headlessui-state='selected']:not([disabled]) {
      color: variables.$dark-50;
      background-color: variables.$primary;
    }

    &:disabled {
      cursor: auto;
      border-color: rgba(variables.$primary, .5);
      color: rgba(#fff, .5);
    }
  }

  .bar {
    position: absolute;
    display: flex;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    width: variables.rem(2px);
    height: 100%;
    z-index: -1;
    background-color: variables.$primary;
    transform: translate(-50%, -50%);
  }

  @include media.for-mobile {
    .step {
      width: variables.rem(30px);
      height: variables.rem(30px);

      font-size: variables.rem(14px);
      line-height: variables.rem(18px);
    }
  }

  @include media.for-tablet {
    flex-direction: row;

    .step {
      width: variables.rem(35px);
      height: variables.rem(35px);

      font-size: variables.rem(16px);
      line-height: variables.rem(22px);
    }

    .bar {
      width: 100%;
      height: variables.rem(2px);
    }
  }

  @include media.for-laptop {
    .step {
      width: variables.rem(40px);
      height: variables.rem(40px);

      font-size: variables.rem(18px);
      line-height: variables.rem(24px);
    }
  }

  @include media.for-desktop {
    .step {
      width: variables.rem(45px);
      height: variables.rem(45px);

      font-size: variables.rem(20px);
      line-height: variables.rem(27px);
    }
  }
}
