@use 'sass:math' as math;

/* ==== Mixin ==== */
$breakpoints: (
  'mobile': (
    max-width: 800px,
  ),
  'tablet': (
    min-width: 800px,
  ),
  'laptop': (
    min-width: 1280px,
  ),
  'desktop': (
    min-width: 1920px,
  ),
) !default;

/* ==== Colors ==== */

$primary: #ffb800;
$light-text: #f2f2f2;
$dark-text: #000;
$border-color: #3a444c;

/* ==== pxl to rem ==== */
@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}
