@use 'sass:math' as math;

/* ==== pxl to rem ==== */
@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}

/* ==== Mixin ==== */
$breakpoints: (
  'mobile': (
    max-width: rem(800px),
  ),
  'tablet': (
    min-width: rem(800px),
  ),
  'laptop': (
    min-width: rem(1280px),
  ),
  'desktop': (
    min-width: rem(1920px),
  ),
) !default;

/* ==== Colors ==== */

$primary: #ffb800;
$error: #e21818;

/* ==== Light colors ==== */

$light-50: #f2f2f2;
$light-100: #bdbdbd;

/* ==== Grey colors ==== */

$grey-50: #939393;
$grey-100: #3a444c;
$grey-150: #424242;
$grey-200: #bfbfbf;

/* ==== Dark colors ==== */

$dark-50: #000;
$dark-100: #1f1f1f;

/* ==== Animation ==== */

$transition: 0.3s ease-in-out;
