@use 'sass:math' as math;

/* ==== Mixin ==== */
$breakpoints: (
  'mobile': (
    max-width: 1024px,
  ),
  'tablet': (
    min-width: 1024px,
  ),
  'laptop': (
    min-width: 1280px,
  ),
  'desktop': (
    min-width: 1920px,
  ),
) !default;

/* ==== Colors ==== */

/* ==== pxl to rem ==== */
@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}
