@use 'variables' as variables;

@import '~normalize.css/normalize.css';

@import 'parts/reset';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: variables.rem(16px);
  line-height: variables.rem(19px);
  background-color: #000;
  color: #F2F2F2;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}