@use 'variables' as variables;
@use 'mixin/media' as media;


@import '~normalize.css/normalize.css';

@import 'parts/reset';

* {
  scrollbar-width: thin;
  scrollbar-color: variables.$grey-200 transparent;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: variables.$grey-200;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: variables.rem(16px);
  line-height: variables.rem(19px);
  background-color: #020f14;
  color: #f2f2f2;
  background-image: url('/images/big-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  @include media.for-mobile {
    background-size: 90%;
  }
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.error-text {
  position: absolute;
  color: variables.$error;
  letter-spacing: variables.rem(0.15px);

  @include media.for-mobile {
    font-size: variables.rem(10px);
    line-height: variables.rem(18px);
  }

  @include media.for-tablet {
    font-size: variables.rem(12px);
    line-height: variables.rem(18px);
  }

  @include media.for-laptop {
    font-size: variables.rem(14px);
    line-height: variables.rem(22px);
  }
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: variables.$dark-50;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url('/images/big-logo.svg');
    background-position: center;
    opacity: 0;
    animation: blinking 2s infinite;

    @include media.for-mobile {
      background-size: 90%;
    }
  }
}

@keyframes blinking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
