@use 'variables' as variables;
@use 'mixin/media' as media;


@import '~normalize.css/normalize.css';

@import 'parts/reset';

* {
  scrollbar-width: thin;
  scrollbar-color: variables.$grey-200 transparent;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: variables.$grey-200;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: variables.rem(16px);
  line-height: variables.rem(19px);
  background-color: #020f14;
  color: #f2f2f2;
  background-image: url('/images/big-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

.error-text {
  position: absolute;
  color: variables.$error;
  letter-spacing: variables.rem(0.15px);

  @include media.for-mobile {
    font-size: variables.rem(10px);
    line-height: variables.rem(18px);
  }

  @include media.for-tablet {
    font-size: variables.rem(12px);
    line-height: variables.rem(18px);
  }

  @include media.for-laptop {
    font-size: variables.rem(14px);
    line-height: variables.rem(22px);
  }

}