*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button,
input,
textarea {
  background: none;
  border: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
