@use 'styles/variables' as variables;
@use 'styles/mixin/media' as media;

.auth {
  display: flex;
  height: 100vh;

  flex-direction: column;

  &__decor {
    display: block;
    height: 20%;
  }

  &__content {
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

    &_container {
      width: 100%;
      padding: 0 variables.rem(15px);
      margin: 0 auto;

      svg {
        display: block;
        margin: 0 auto;

        path {
          fill: #fff;
        }
      }
    }
  }

  @include media.for-mobile {
    svg {
      max-width: variables.rem(280px);
      height: variables.rem(80px);
    }
  }

  @include media.for-tablet {
    svg {
      max-width: variables.rem(380px);
      height: variables.rem(120px);
    }
  }

  @include media.for-laptop {
    flex-direction: row;

    &__decor {
      height: 100%;
      flex-basis: 30%;
    }

    &__content {
      height: 100%;
      flex-basis: 70%;

      &_container {
        max-width: variables.rem(435px);

        svg {
          max-width: variables.rem(435px);
          height: variables.rem(157px);
        }
      }
    }
  }

  @include media.for-desktop {
    &__decor {
      flex-basis: 50%;
    }

    &__content {
      flex-basis: 50%;
    }
  }
}
