@use 'styles/variables' as variables;
@use 'styles/mixin/media' as media;

.auth {
  display: flex;
  height: 100vh;
  overflow: hidden;

  flex-direction: column;

  &__decor {
    display: none;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/images/auth-bg.webp') center / cover no-repeat;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      z-index: 0;
    }

    &_container {
      display: grid;
      align-items: baseline;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      margin: 0 auto;
      padding: 0 variables.rem(15px);
      max-width: variables.rem(400px);
      z-index: 1;
    }

    &_image {
      img {
        user-select: none;
      }
    }
  }

  @include media.for-mobile {
    &__content {
      &_container {
        gap: variables.rem(20px);
      }

      &_image {
        margin-bottom: variables.rem(20px);
      }
    }
  }

  @media screen and (max-width: variables.rem(1300px)) and (orientation: landscape) {
    &__content_container {
      overflow-y: auto;
      height: 100%;
    }
  }

  @include media.for-tablet {
    &__content {
      &_container {
        gap: variables.rem(24px);
      }

      &_image {
        margin-bottom: variables.rem(26px);
      }
    }
  }

  @include media.for-laptop {
    flex-direction: row;

    &__decor {
      display: block;
      height: 100%;
      flex-basis: 40%;
    }

    &__content {
      height: 100%;
      flex-basis: 60%;
      background: none;

      &_container {
        gap: variables.rem(26px);
        max-width: variables.rem(470px);
      }

      &_image {
        margin-bottom: variables.rem(34px);
      }
    }
  }

  @include media.for-desktop {
    &__decor {
      flex-basis: 50%;
    }

    &__content {
      flex-basis: 50%;

      &_container {
        gap: variables.rem(36px);
      }
    }
  }
}
